/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

body {
  font-family:'Poiret One', cursive;
  background-color:white;
	background-image:url('White_Texture_Pattern_Abstract_4K_Wallpaper.jpg');
	color: black;
       font-size: 21px;
  
  
  
}

header {
 color:black;
 background-color:white;
 background-image:url("");

  display:flex-center;
   padding: auto;
   
   font-size:auto;
}

header .row,
footer .row {
  color:black;
  background-color:white;
background-image:url("");
 

  
 display: center;
  align-items: right;
  color:black;
  background-color:white;
  
}

h1 {
  color:black;
   
  height: flex-bottom;
  font-weight: 16px;
  margin: 30px;
  display:center;
  
  

nav {
 background-color:silver;
 color: black;
  display:flex-block;
  justify-content: flex-end;
	display: center;

  

  
  

a {
color: black;
  padding: 21px ;
  margin:  21px;
}
  
  a {
	color: black; text-decoration: none;
}
	a:hover {
		color:red;
	}

.jumbotron {
  display:center;

  align-items: flex;
  border-image-outset: 11px ;
display :center-block;

  background-size:cover;
  color:black;
  background-color:silver;
  height: 11px;
}

.jumbotron h2 {
background-image:url('');
  font-size: 27px;
  font-weight: 16px;
  margin: 8px;
  color:black ;
 

 
 
 
}

.jumbotron h3 {
  Font-size: 16px;
  margin: 0 0 8px;
  color:black;
  background-color:silver;
  display:center;
 
}

section .row img {
  color:white;
  display: center;
  

  margin: 19px;
  width: 19px;
  
}

.col-md-6 {
  color: black;
  background-color:silver ;
  margin: 0 0 auto;
}

.btn.btn-primary {
  border-radius: 11px;
  border: 11px;
  color:black;
  background-color:white ;
}

.btn.btn-primary:hover {
  color:black;
  background-color:white;
	display:align-center;
}

.btn-secondary {
  background-color:white ;
  color:white;
  margin: 0 0 0 11 px
}
.button {
  display:align-center;
  color:silver;
  }
  
.portrait {
  color:none;
  
  width:  0 auto;
  height: 0 auto;
}

figure img {
  color:black;
  width: 3px;
  height: 3px;
  background-color:white;

}

figure {
  margin-bottom:red;
  color:black;
	display:left;
}

footer {
  font-size: 7px;
  padding: 7px 0;
  color:black;
  background-color:white;






footer .col-sm-8 {
  background-color:white;
  color:black;
  display: flex-center;
  justify-content: flex-end;
}

footer ul {
  color:black;
  background-color:white;
  list-style: flex-wrap;
}
